<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>  
    <h1>Actor CREATION</h1>
    <form action="/actors/add" method="POST" >

        <label for="first_name">first_name:</label>
        <input type="text" name="first_name" value=""><br>

        <label for="last_name">last_name:</label>
        <input type="text" name="last_name"><br>

        <label for="rating">rating:</label>
        <input type="text" name="rating"><br>

        <button type="submit">CREAR</button>

    </form>

</body>
</html>